<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="shortcut icon" type="image/x-icon"  href="../resources/images/ball.jpg">
		<link rel="stylesheet"    type="text/css"      href="../css/style.css">
		<link rel="stylesheet"	  type="text/css"      href="../css/header.css">
		<link rel="stylesheet"	  type="text/css"      href="../css/footer.css">
		<link rel="stylesheet"	  type="text/css" 	   href="../css/bootstrap.min.css">
		<link rel="stylesheet" 	  type="text/css"	   href="../css/font-awesome.css">

		<script type="text/javascript" 		src="../js/script.js"></script>
		<script type="text/javascript" 		src="../js/jquery.js"></script>
		<script type="text/javascript" 		src="../js/mustache/mustache.js" ></script>
		<script data-main="../js/config.js" src="../js/require.js"></script>

		<title>Главная</title>
	</head>
		
	<body>
		<header>
			<nav>
				<div class="head-size" >		
					<div class="col-md-1">
						<div id="logo"><a href="index.html"><img src="../resources/images/logoRM.jpg" alt=""></a></div>			
					</div>
					<div class="col-md-4">
						<div id="logo"><a href="index.html">Official Website</a></div>
						<div id="logo"><a href="index.html">Real Madrid CF</a></div>
					</div>
					<div class="col-md-7 text-right menu-1">
						<ul>
							<li><a href="index">Главная</a></li>	
							<li><a href="team">Команда</a></li>				        
							<li><a style="color: #fff" href="trophies">Трофеи</a></li>
							<li><a href="uniform">Форма</a></li>
							<li id="menu1"></li>
						</ul>
						<ul>
							<li id="menu2"></li>
							<li id="menu3"></li>
						</ul>
						<script>
							var val = <%- JSON.stringify(menu1) %>;
						 	menu1.innerHTML = val;
						  	val = <%- JSON.stringify(menu2) %>;
						 	menu2.innerHTML = val;
						 	val = <%- JSON.stringify(menu3) %>;
						 	menu3.innerHTML = val;
						</script>		
					</div>
				</div>
			</nav>		    
		</header>

		<section id="trophiesSection">
            <h1>Главные трофеи команды за всю историю</h1>

            <h2>Кубок Европы</h2>
			
			<div class="row">
		        <div class="col-md-6">
		       		<img class="trophy" src="../resources/trophies/Кубок Европы.jpg" width="250px" height="233px">
		        </div>
		        <div class="col-md-6">
		            <video width="400px" height="233px" controls="controls">
		                <source src="../resources/trophies//Барселона 3 - 1 Алавес . Кубок Испании. Финал. Обзор матча [HD] 27.05.2017.mp4">
		            </video>  
		        </div>  
            </div>   

            <h2>Кубок Испании</h2>
            <div class="row">
		        <div class="col-md-6">
            		<img class="trophy" src="../resources/trophies/Кубок Испании.jpg" width="250px" height="233px">
            	</div>
		        <div class="col-md-6">
            		<video width="400px" height="233px" controls="controls">
               			<source src="../resources/trophies/Лига Европы 2017-2018. Групповой раунд 1 тур. Результаты и расписание. Футбол..mp4">
            		</video>
            	</div>  
            </div>

            <h2>Кубок УЕФА</h2>
            <div class="row">
		        <div class="col-md-6">
            		<img class="trophy" src="../resources/trophies/Кубок УЕФА.jpg" width="250px" height="233px">
            	</div>
            	<div class="col-md-6">
            		<video width="400px" height="233px" controls="controls">
                		<source src="../resources/trophies/Кубок УЕФА  - у мадридского 'Реала'.mp4">
            		</video>
            	</div>  
            </div>

        </section>
		
    	<footer>		
			<div class="container">
				<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a> 			
				<div class="socialContainer">
					<h4>Социальные сети</h4>
					<ul class="social">
						<li><a href="https://www.facebook.com/RealMadrid/"  target="_blank"><i class="fa fa-facebook-official"></i></a></li>
						<li><a href="https://twitter.com/realmadrid" 	    target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://vk.com/realmadrid_news" 	    target="_blank"><i class="fa fa-vk"></i></a></li>
						<li><a href="https://www.instagram.com/realmadrid/" target="_blank"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
				<small>Copyright &copy; 2017 Made by <a href="https://vk.com/shevam">Sheviakou Maksim</a></small>		
			</div>
		</footer>

	</body>
</html>